@font-face {
    font-family: Mulish;
    src: url(./font/Mulish-Black.ttf);
}

@font-face {
    font-family:Roboto ;
    src: url(./font/RobotoSerif_28pt_Condensed-Black.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

body button:hover {
    background: #458FF6;
    color: #fff;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 43px 50px;
}

.nav_left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.nav_left a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    flex-shrink: 0;
    background-color: #DEEEFE;
    border-radius: 50%;
}

.nav_left>p {
    color: #462E6A;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_right>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav_right a {
    color: #1F1534;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav_right a:hover {
    color: #2E4E92;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 2px solid #2E4E92;
}

.menu {
    display: none;
    
}

@media only screen and (max-width: 950px) {
    .nav_right{
        display: none;
    }

    .menu {
        display: block;
        background-color: #2926265b;
    }

    .menu > a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 460px){

    .nav_left > p{
        display: none;
    }
}


/* ///      HERO QISMI */

.hero_banner {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero_banner_left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}

.hero_banner_left>h1 {
    width: 90%;
    /* height: 137.515px; */
    flex-shrink: 0;
    color: #3C567B;
    font-family: Mulish;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 116.667% */
}

.hero_banner_left>p {
    width: 90%;
    height: 100.021px;
    flex-shrink: 0;
    color: #93C1F9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 142.105% */
    letter-spacing: 0.38px;
}

.hero_banner_left>button {
    background-color: #fff;
    color: #458FF6;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 333.333% */
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.5px solid #458FF6;
}

@media only screen and (max-width: 1090px){

    .hero_banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .hero_banner_left {
        width: 70%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

@media only screen and (max-width: 736px){

    .hero_banner_right > img{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .hero_banner_left {
        width: 70%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
}
}

@media only screen and (max-width: 460px){

    .hero_banner_left{
        width: 100%;
        display: flex;
        gap: 40px;
    }

    .hero_banner_left > h1{
        font-size: 38px;
    }

    .hero_banner_left >p{
        font-size: 15px;
    }

    .hero_banner_left>button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #458FF6;
        text-align: center;
        font-family: Mulish;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        /* 333.333% */
        width: 150px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 55px;
        border: 1.5px solid #458FF6;
    }
}


/*      /// FIRST_SECTION */


.first_section_wrapper {
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(./img/first_sec/Vector\ \(5\).png);
}


.first_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 150px;
}

.first_section>h1 {
    width: 100%;
    color: #462E6A;
    text-align: center;
    font-family: Mulish;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 124.444% */
}

.first_section>span {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #000;
}

.first_section>p {
    width: 80%;
    color: #CCD2E9;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    /* 142.105% */
    letter-spacing: 0.38px;
}

.first_section_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

.first_section_card:hover {
    transform: scale(1.05);
    transform: rotate(360deg);
    transition: 2s;
}


.first_section_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 350px;
    height: 354px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    /* drop shadow */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
}

.first_section_card>h1 {
    width: 244px;
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 233.333% */
}

.first_section_card>p {
    width: 261px;
    color: #7D7987;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    /* 175% */
}

.first_section>button {
    color: #458FF6;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 333.333% */
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
}

@media only screen and (max-width: 400px){

    .first_section_card_wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-top: 50px;
    }

    .first_section_card {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        border-radius: 20px;
        background: #FFF;
        /* drop shadow */
        box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    }
    .first_section_card>h1 {
        width: 100%;
        color: #000;
        text-align: center;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        /* 233.333% */
    }

    .first_section_card>p {
        width: 100%;
        color: #7D7987;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        /* 175% */
    }
    
    .first_section>button {
        color: #458FF6;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 333.333% */
        width: 200px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 55px;
        border: 1.4px solid #458FF6;
    }
}



/*  //  SECOND SECTION */


.second_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.second_section_right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.second_section_right>h1 {
    width: 381px;
    color: #462E6A;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 155.556% */
}

.second_section_right>span {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #000;
}

.second_section_right>p {
    width: 350px;
    color: #7D7987;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    /* 166.667% */
}

.second_section_right>button {
    color: #458FF6;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 333.333% */
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
}
    /*  media  3 */

@media only screen and (max-width: 1290px){

    .second_section {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }


}
@media only screen and (max-width: 1290px){

    .second_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }
}



/* /// third SECTION */


.third_section_wrapper {
    height: 900px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(./img/thrid_sec/Vector\ \(6\).png);
}


.third_section {
    padding-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.third_section_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.third_section_left>h1 {
    width: 478px;
    height: 109px;
    flex-shrink: 0;
    color: #462E6A;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
}

.third_section_left>span {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #000;
}

.third_section_left>p {
    width: 420px;
    color: #7D7987;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    /* 166.667% */
}

.third_section_left>button {
    display: flex;
    gap: 20px;
    width: 89px;
    height: 13px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #458FF6;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 333.333% */
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
}

/* .third_section_right > img {
background-color: #458FF6;
} */


/*    FOURTH SECTION */

.fourth_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fourth_section_right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}


.fourth_section_right>h1 {
    color: #462E6A;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
}

.fourth_section_right>span {
    width: 56px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #000;
}

.fourth_section_right>p {
    width: 420px;
    color: #7D7987;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    /* 166.667% */
}

.fourth_section_right>button {
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #458FF6;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 333.333% */
}

/*  fifth section */

.fifth_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 180px;
}

.fifth_section_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: #6da0ec;
    padding: 70px 100px;
    gap: 30px;
}

.fifth_section_card>h1 {
    text-align: center;
    width: 550px;
    height: 55.076px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 133.333% */
}

.fifth_section_card>span {
    text-align: center;
    width: 59.004px;
    height: 2.295px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
}

.fifth_section_card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: ;
}

.fifth_section_bottom_left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fifth_section_bottom_left>h1 {
    width: 193.87px;
    height: 55.076px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 218.182% */
}

.fifth_section_card_bottom_right {
    width: 50%;
}

.fifth_section_card_bottom_right>h1 {
    width: 442.529px;
    height: 137.689px;
    flex-shrink: 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    /* 250% */
    letter-spacing: 0.22px;
}

.btn {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}



/*   FOOTER qismi */



.footer_wrapper{
    background-color: #458FF6 ;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.footer_logo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.logo > a{
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 50%;
}

.logo> p{
    width: 174.365px;
    height: 29px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.footer_logo > h1 {
    width: 403.413px;
    height: 80.948px;
    flex-shrink: 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 150% */
    letter-spacing: 0.18px;   
}

.footer_logo > p{
    width: 403.413px;
    height: 26.983px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 175% */ 
}


.footer_links_company{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    color: #FFF; 
}

.footer_links_region{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;  
    color: #FFF; 
}

.footer_links_help{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;  
    color: #FFF;    
}


.footer a{
    color: #FFF;
}

.footer a:hover{
    transform: scale(1.05);
    /* transition: 1s; */
    color: #2E4E92;
    border-bottom: 4px solid #458FF6;
}
